ul.clues {
    list-style: circle; 
    max-width: 600px;
}

table {
    border-collapse: collapse;
}

table td {
    border: solid black 1px;
    height: 25px;
    width: 20px;
    text-align: center;
}

table tr:nth-child(1) td:first-child {
    border: none;
    vertical-align: top;
    text-align: right;
    vertical-align: middle;
    width: 40px;
}

table tr:nth-child(2) td {
    border: none;
    vertical-align: top;
}